<%= form_for(busca) do |f| %>
  <% if busca.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(busca.errors.count, "error") %> prohibited this busca from being saved:</h2>

      <ul>
      <% busca.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
